@model TopStatsMVC.Models.Player


<div class="player__img">
    <img src="~/Images/players/@(Model.Position).png" class="player__photo">
</div>
<div class="player__descr">
    <div><b>Position: </b>@Model.Position</div>
    <div><b>Nickname: </b>@Model.Nickname</div>
    <div><b>Team: </b>@Model.Team</div>
    <div class="player__about">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi doloribus cupiditate.
    </div>
</div>