@model TopStatsMVC.Models.Player

<div class="stats">
    <div class="container">
        <div class="stats__header">
            <div class="stats__suptitle">
                <span class="stats__span">Stats</span>
            </div>
            <div class="stats__title">Last 10 matches:</div>
        </div>
        <form class="search search-stats" asp-action="Index" asp-controller="Information" method="POST" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#statsItems">
            <input class="search__input search__input-stats" type="text" name="nick" placeholder="Nickname" />
            <input class="search__btn search__btn-stats" value="GET Stats" type="submit" />
        </form>
        <div id="statsItems" class="stats__items">

            @Html.Partial("_StatsItems", Model)

        </div>
    </div>
</div>

<script src="~/js/jquery/jquery.js"></script>
<script src="~/js/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
<script src="~/js/modules/select.js"></script>
