@model TopStatsMVC.Models.Player

@if (Model == null)
{
    <div class="search__error" style="opacity: 0">Player is not found</div>
}
else
{
    <div class="search__error" >Player is not found</div>
}
